* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 20%;
  padding: 5px;
}
.menu_icons {
  font-size: 25px;
  margin: 10px;
}

.menu_icons {
  cursor: pointer;
}

.menu_menu {
  width: 80%;
  margin: auto;
  display: flex;
}
.menu_menu p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: auto;
}

